* {
    padding: 0;
    margin: 0;
}
*,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  
  html {
      font-size: 62.5%;
      box-sizing: border-box;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
  }

.container{
    max-width: 100%;
    margin: 0 auto;
    
}


.headline{
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 1.3rem;
    margin-top: 2.2rem;
    text-align: center;
}

.char-name span{
display: inline-block;
font-size:2.2rem;
font-weight: 600;
padding: 1.3rem;
color: #777;

/* background-color: #555; */
}
.char-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
   border: 0.5px solid #f8f9fa;
}

.graphicBookList{
display: grid;
justify-content: center;
padding: 1.3rem;
/* border: 1px solid #333; */
}


span{
    width: 17rem;
    text-align: center;
}



  .graphi-char{
    font-weight: 600;
  }

  .codingLanguage{
  
    width: 100%;
    /* height: 100%; */
    /* display: inline-block; */
    /* margin-left: 50%;
    transform: translateX(-50%); */
  }
  
  .img-div{
    /* transform: translateX(22.5%); */
    max-width: 899px;
    /* height: 295px; */
   
   overflow: hidden;
    margin: 0 auto;
    
  }

  .author{
    max-width: 899px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 2.1rem;
    padding: 1.3rem;
    column-gap: 1.3rem;
    text-transform: uppercase;
    font-style: italic;
  }
  .author-img{
    width: 100px;
    
    overflow: hidden;
  }
  .authorPic{
    width: 100%;
  }

  /* .char-name:nth-child(even){
    background-color: #e9ecef;
  }
  .char-name:nth-child(odd){
    background-color: #f8f9fa;;
  } */
  .char-name{
    background-color: #e9ecef;
  }
  .char-name:nth-child(1){
    background-color: #f8f9fa;;
  }  .char-name:nth-child(2){
    background-color: #f8f9fa;;
  }  .char-name:nth-child(3){
    background-color: #f8f9fa;;
  }
